ip: 192.168.10.10
memory: 2048
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: CHANGE_THIS
        to: /home/vagrant/code
sites:
    -
        map: laravel-simple-blog.test
        to: /home/vagrant/code/public
databases:
    - laravel-simple-blog
name: laravel-simple-blog
hostname: laravel-simple-blog
